{{> head}}


   {{> navbar}}

<div class="jumbotron">
    <h1 class="display-4">About maju.inc</h1>
</div>


<div class="col-4">
    <p>Aquí va una imagen de como estamos trabajando</p>
    <img src="assets/img/gato-internet.jpg" class="img-thumbnail">
</div>

{{!--     <div class="jumbotron">
        <h1 class="display-4">About maju.inc</h1><br>
        <p class="lead">We are trying to figure it out the programming world</p>
    </div>
 --}}


   {{> footer}}


