{{> head}}

   {{> navbar }}


    <div class="jumbotron">
        <h1 class="display-4">{{capitalizar nombre}}! Holito, estamos trabajando para usted</h1>
        <p class="lead">Tranquilo, esto no es un virus, es mi primer fruto del curso de node.js</p>
        <hr class="my-4">
        <p>Aun son varias cositas básicas, pero pa que cachi ;)</p>
        <a class="btn btn-primary btn-lg" href="about" role="button">Quieres saber más?</a>
    </div>

  {{> footer}}

