{{> head}}

   {{> navbar }}


    <div class="jumbotron">
        <h1 class="display-4">{{capitalizar nombre}}! Page under construction</h1>
        <p class="lead">This is a simple webpage I am working on it for my node.js course</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a>
    </div>

  {{> footer}}

